@charset "UTF-8";
:root {
  --main: #7b61ff;
  --secondary: #a3714e;
  --light: #ffffff;
  --dark: #000000;
  --heading: #ffffff;
  --body: #cccdd2;
  --body2: #a1a0a1;
  --bodybg: #00031c;
  --btn-bgcolor: #9e61ff;
  --btn-color: #ffffff;
  --btn-bgcolor2: #619bff;
  --btn-color2: #ffffff;
  --btn-bgcolor3: #6c52ee;
  --font-size-sm: 14px;
  --line-height-sm: 19.6px;
  --input-background: #191c33;
  --input-background2: #31344b;
  --background-item: #191c33;
  --background-body: #00031c;
  --border-color: #292c41;
  --border-color2: #80818d;
  --full-fd: 70px;
}
@media (max-width: 767px) {
  :root {
    --font-size-sm: 12px;
    --line-height-sm: 16px;
  }
}
.btn-theme {
  background: var(--main);
  color: #fff;
  height: 50px;
  padding: 0 40px;
  text-align: center;
  line-height: 50px;
}
button.btn-theme {
  border: 0;
}
