* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --asapCondensed: "Asap Condensed";
}
body {
  background-color: #1e1e1e !important;
  background: #1e1e1e !important;
}

.MV_nav {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0;
}
.navbar-nav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--asapCondensed);
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.dropdown-item {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--asapCondensed);
  padding-top: 1px;
  padding-bottom: 1px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #33c3a5 !important;
  background-color: transparent !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover {
  color: #33c3a5 !important;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MV_dropdown_about .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  animation: fadeUp 0.3s ease forwards;
}

.MV_dropdown_about:hover .dropdown-menu {
  display: block;
  visibility: visible;
  animation: fadeUp 0.3s ease forwards;
}
.dropdown-menu {
  background-color: #000000cb;
  border: none;
  backdrop-filter: blur(10px);
  border-radius: 3px !important;
}

.MV_podcast_btn {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 6px 15px;
  font-weight: 500;
  letter-spacing: 0.7px;
  background: #e50914;
  text-decoration: none;
  font-family: var(--asapCondensed);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}

#MV_hover:hover {
  animation: rotate624 0.8s ease-in-out both;
}

#MV_hover_shine {
  z-index: 20;
}

#MV_hover:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.8s ease;
  width: 50px;
  z-index: -10;
}

#MV_hover:hover:after {
  left: 120%;
  transition: all 0.8s ease;
}
#MV_dropdown_podcasts {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Mega Dropdown */
.MV_dropdown_flex {
  position: relative;
}

.MV_dropdown_flex .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 800px;
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.MV_dropdown_flex:hover .dropdown-menu {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.MV_mega_column {
  padding: 0;
  margin: 0;
  list-style: none;
}
.MV_drop_mega {
  padding-left: 6px !important;
  /* padding-right: 0 !important; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  animation: fadeUp 0.3s ease forwards;
  background-color: #000000cb !important;
  backdrop-filter: blur(10px) !important;
}
.MV_dropdown_flex .dropdown-menu {
  translate: -253px 0px;
  width: 750px;
  max-height: 400px;
  overflow-y: auto;
}

.MV_drop_mega {
  justify-content: space-around !important;
  align-items: start !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
ul.MV_mega_column {
  width: 100%;
}
.MV_drop_extra,
.MV_drop_extra2,
.MV_drop_extra3,
.MV_drop_extra4,
.MV_drop_extra5,
.MV_drop_extra6,
.MV_drop_extra7 {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  position: relative;
}

.MV_drop_extra i,
.MV_drop_extra2 i,
.MV_drop_extra3 i,
.MV_drop_extra4 i,
.MV_drop_extra5 i,
.MV_drop_extra6 i,
.MV_drop_extra7 i {
  transform: scale(1.4);
  transition: transform 0.3s ease;
}

.MV_inner_dropdown_menu,
.MV_inner_dropdown_menu2,
.MV_inner_dropdown_menu3,
.MV_inner_dropdown_menu4,
.MV_inner_dropdown_menu5,
.MV_inner_dropdown_menu6,
.MV_inner_dropdown_menu7 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  border-radius: 2px;
  z-index: 99;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.5s ease;
}

.MV_inner_dropdown_menu.open,
.MV_inner_dropdown_menu2.open,
.MV_inner_dropdown_menu3.open,
.MV_inner_dropdown_menu4.open,
.MV_inner_dropdown_menu5.open,
.MV_inner_dropdown_menu6.open,
.MV_inner_dropdown_menu7.open {
  max-height: 200px;
  background-color: #000000d3 !important;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) !important;
  border: 1px solid #ffffff4f;
}
.MV_inner_dropdown_menu.open {
  z-index: 100;
}
.MV_inner_dropdown_menu2.open {
  z-index: 96;
}
.MV_drop_extra i.rotate,
.MV_drop_extra2 i.rotate {
  transform: rotate(90deg);
}

.slider-next.swiper-button,
.slider-prev.swiper-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-button:hover {
  background-color: #e50914;
  border: 0.0625em solid #e50914;
}
.slider-content .MV_disc li a {
  color: white !important;
}
.movie-tag li::before {
  background: #e50914 !important;
}
.MV_discription_slider {
  color: white !important;
}
.MV_play_button {
  height: 51px;
  border-radius: 5px;
  padding: 11px 30px;
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}
.MV_more_info {
  height: 51px;
  border-radius: 5px;
  padding: 11px 30px;
  /* background: #ffffff26; */
  background: transparent !important;
  color: white;
  text-decoration: none;
  /* margin-left: 15px; */
  font-size: 18px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}

.MV_more_info i,
.MV_play_button i {
  margin-left: 6px;
  translate: 0 1px;
  font-size: 23px;
}

#MV_hover2:hover {
  animation: rotate624 0.8s ease-in-out both;
}

#MV_hover_shine2 {
  z-index: 20;
}

#MV_hover2:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.8s ease;
  width: 50px;
  z-index: -10;
}

#MV_hover2:hover:after {
  left: 120%;
  transition: all 0.8s ease;
}

@media screen and (max-width: 882px) {
  .MV_nav {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    padding-left: 20px;
    padding-right: 20px;
  }
}

.MV_nav {
  z-index: 9999;
}
.mobile_menu_icon i {
  color: white;
  font-size: 20px;
}
button.navbar-toggler {
  border: 1px solid white;
  padding: 6px 9px;
}
.button.on-demand,
.button.podcasts,
.button.listen {
  background-color: #00aeef;
  text-decoration: none;
  padding: 11px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#MV_buttonyhh {
  background: linear-gradient(135deg, #c63663, #ed6430 50%, #ffdf63) !important;
}

.button-container a {
  width: 30%;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button-container svg {
  display: inline-block;
  width: 10px;
  height: 13px;
  fill: white;
}
.trending_navigation {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: center;
  font-family: var(--asapCondensed);
  font-size: 18px;
  font-weight: 600;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
#loading-area {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999999;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  overflow: hidden;
}

#loading-area.loading-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-area.loading-page-1:before,
#loading-area.loading-page-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  background: #1e1e1e;
  transition: all 1.5s;
  transform-origin: left top;
  z-index: -1;
}

#loading-area.loading-page-1:before {
  top: auto;
  bottom: 0;
}

#loading-area.loading-page-1.active:before,
#loading-area.loading-page-1.active:after {
  height: 0px;
}

#loading-area.loading-page-1 .text {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 50px;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 1s;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .splide__arrows.splide__arrows--ltr {
    right: 50px !important;
  }
  #loading-area.loading-page-1 .text {
    font-size: 24px;
  }
}

#loading-area.loading-page-1.show .text {
  opacity: 1;
  transform: translateY(0);
}

#loading-area.loading-page-1.active .text {
  opacity: 0;
  transform: translateY(30px);
}

.offcanvas-body {
  background: #1e1e1e;
}
.offcanvas-header {
  background-color: #1e1e1e;
}

.btn-close {
  --bs-btn-close-color: #ffffff;
  opacity: 1 !important;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z'/%3e%3c/svg%3e") !important;
}

#offcanvasNavbar {
  border: none !important;
}

.custom-accordion {
  width: 100%;
}

.accordion-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.accordion-header {
  padding: 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-family: "Asap Condensed";
  font-size: 16px;
  letter-spacing: 1px;
}

.accordion-header i {
  transition: transform 0.3s ease;
}

.accordion-header.active {
  color: #1bbc9b;
}
.MV_kcjahak {
  text-decoration: none;
  color: white;
}
.MV_kcjahak:hover {
  color: #1bbc9b;
}

.accordion-header.active i {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content.active {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.accordion-content ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.accordion-content ul li {
  padding: 8px 0;
}

.accordion-content ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
}

.accordion-content ul li a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.accordion-content ul {
  margin-top: -21px;
}

/* slider */

.swiper-slide img {
  opacity: 0;
  transition: opacity 0.8s ease;
}
.swiper-slide-active img {
  opacity: 1;
}

.MV_main_Slider_Wrapper .swiper-slide img,
.MV_main_Slider_Wrapper .swiper-slide iframe,
.MV_main_Slider_Wrapper .swiper-slide video {
  height: 90vh;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.swiper-button-next:after {
  font-size: 16px !important;
  color: rgb(255, 255, 255) !important;
  height: 100%;
  translate: 8px 30px;
  width: 100%;
}
.swiper-button-prev:after {
  font-size: 16px !important;
  color: rgb(255, 255, 255) !important;
  height: 100%;
  translate: 4px 30px;
  width: 100%;
}
.swiper-button-prev {
  left: 0px;
  background-color: #00000033;
  height: 74px;
  width: 22px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  z-index: 4;
}
.swiper-button-next {
  right: 0px;
  background-color: #00000033;
  height: 74px;
  width: 22px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 4;
}
.MV_main_slider_content {
  position: absolute;
  top: 50%;
  left: 30px;
  height: auto;
  width: 45%;
  z-index: 2;
  translate: 0% -50%;
}

.MV_breadcrum_main_slider span {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  padding: 4px;
  font-weight: 500;
}
.MV_inner_main_slider_content h2 {
  font-family: "Asap Condensed";
  font-size: 60px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  padding: 10px 0px;
}
.MV_inner_main_slider_content p {
  font-family: "Poppins";
  color: #d1d0cf;
  font-size: 14px;
  padding: 0px 0px;
  padding-bottom: 10px !important;
}
.MV_review_starts_mainslider {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.MV_review_starts_mainslider span {
  color: white;
  font-family: ui-monospace;
  translate: 4px 2px;
}
.MV_slider_layer_black {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.MV_iq-button {
  margin-top: 40px;
}
.MV_main_slider_content {
  margin-left: 14px;
}
.MV_iq-button a span {
  font-family: "Poppins";
  letter-spacing: 1px;
}

.MV_layer_pop_video video,
.MV_layer_pop_video iframe {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.MV_volium_button {
  position: absolute;
  right: 25px;
  color: white;
  bottom: 25px;
  height: 40px;
  width: 40px;
  z-index: 99;
  background: #ffffff1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.MV_replay_button {
  position: absolute;
  right: 25px;
  color: white;
  bottom: 25px;
  height: 40px;
  width: 40px;
  z-index: 5;
  background: #ffffff1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Mv_Apply_layer_leanie {
  position: relative;
  filter: brightness(0.6);
}
#slider_video1 {
  filter: brightness(0.6);
}

.MV_splider_img img,
.MV_splider_img iframe,
.MV_splider_img video {
  border-radius: 5px;
  height: 144px;
}

.MV_MV_splide__slide {
  border-radius: 5px;
  background-color: #171717;
  padding: 9px;
}
.MV_splider_content h5 {
  color: white;
  font-family: "Asap Condensed";
  font-size: 16px;
  font-weight: 400;
  padding-top: 11px;
  padding-left: 3px;
  margin-bottom: 5px;
}
.MV_splider_content p {
  font-family: "Poppins";
  font-size: 10px;
  color: white;
  margin-bottom: 2px;
  padding-left: 3px;
  margin-top: 6px;
}
.MV_splider_content p a {
  color: #1bbc9b;
  text-decoration: underline;
  font-family: "Asap Condensed" !important;
}
.MV_splider_content p i {
  font-size: 3px;
}
.MV_splider_content p i {
  margin-left: 8px;
  margin-right: 5px;
}
.MV_splider_content p a {
  margin-left: 4px;
  text-transform: capitalize;
}
.MV_splider_content p {
  display: flex;
  justify-content: start;
  align-items: center;
}

.MV_small_slider_pop {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  background-color: #171717;
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  padding-top: 10px;
  overflow: hidden;
  z-index: 99;
}
.MV_splider_track {
  overflow: visible !important;
}
.MV_small_button_slider {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 17px;
  margin-top: 17px;
}

.MV_play_small_slider_btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-family: poppins;
  font-size: 13px;
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  border-radius: 5px;
  padding: 4px 12px;
  line-height: 22px;
}
.MV_play_small_slider_btn i {
  font-size: 16px;
}
.MV_watch_later_small_slider_btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
  font-family: poppins;
  font-size: 12px;
  background: #ffffff26;
  border-radius: 5px;
  padding: 3px 11px;
}
.MV_watch_later_small_slider_btn svg {
  width: 17px;
}

.MV_splider_content_small_pop h5 {
  font-size: 23px;
  margin-top: 3px;
}
.MV_splider_content_small_pop p {
  font-size: 15px;
}
.MV_small_button_slider a:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}
.MV_small_button_slider a {
  transition: all 0.3s ease;
}

.MV_hover_ifayh iframe,
.MV_hover_ifayh video,
.MV_hover_ifayh img {
  width: 100%;
  height: 200px;
}
.MV_hover_ifayh i {
  position: absolute;
  right: 37px;
  top: 190px;
  height: 40px;
  width: 40px;
  background-color: #ffffff5e;
  backdrop-filter: blur(13px);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  transition: all 0.3s ease;
  cursor: pointer;
}

.splide__arrow.splide__arrow--prev {
  height: 52px;
    width: 16px;
    border-radius: 4px;
    translate: -5px 0%;
    z-index: 99;
    top: 50% !important;
    background-color: #ffffff2e;
    backdrop-filter: blur(17px);
}
.splide__arrow.splide__arrow--next {
  height: 52px;
  width: 16px;
  border-radius: 4px;
  translate: -19px 0%;
  z-index: 99;
  top: 50% !important;
  background-color: #ffffff2e;
  backdrop-filter: blur(17px);
}
.splide__arrow svg {
  fill: #000;
  height: 10px;
  width: 10px;
}

.MV_content_work_bg {
  background-image: url("../images/Content.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}
.MV_trending_slider {
  padding-bottom: 30px;
}
.MV_entertainment_Section {
  background-image: url("../images/layesr.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.MV_entertainment_Section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e50914 7%, rgba(0, 3, 28, 0.42) 100%);
}

.MV_entertainment_content h2 {
  color: white;
  font-family: var(--asapCondensed);
  font-size: 37.9px;
  font-weight: 700;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  letter-spacing: 2px;
}
.MV_entertainment_content h6 {
  color: white;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 6px;
}
.MV_accord_pig_inner {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding-bottom: 4px;
}
.MV_accord_pig_inner span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  color: #cccdd2;
}
.MV_accord_pig {
  margin-top: 21px;
}
.MV_grid_Solution img {
  width: 32%;
}
.MV_grid_Solution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 30px;
}
.MV_trending_slider {
  padding-bottom: 30px;
}

span.icon_play_icon {
  background-color: #ffffff54;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: relative;
  transition: all 0.3s ease;
}
.jws_playlist_trailer_element .video-background .view-video span {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.jws_playlist_trailer_element .video-background .view-video i {
  font-size: 32px;
  translate: 2px 0;
  color: #e50914;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}
.video-background span {
  font-family: "Asap Condensed";
  text-shadow: 1px 1px black;
  letter-spacing: 1px;
}

span.icon_play_icon:hover {
  background-color: #ffffffaa;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

span.icon_play_icon:active {
  transform: scale(0.95);
}
.jws_playlist_trailer_element .playlist-nav .nav-item.slick-current img {
  border: 2px solid #e50914 !important;
}
.jws_playlist_trailer_element .playlist-nav .nav-item:after {
  border-right: 5px solid #e50914 !important;
}
.MV_content_work_bg {
  margin-top: 30px !important;
}
a {
  color: white !important;
}

.MV_learn_more_section {
  background-image: url("../images/seeck.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}
.MV_learnmore_inner_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 17px;
}
.MV_learnmore_inner_body p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.MV_learnmore_inner_body h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: "Poppins";
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.MV_learnmore_inner_body a {
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  margin-top: 19px;
  text-decoration: none;
  padding: 0px 22px;
  height: 43px;
  text-align: center;
  line-height: 3;
  border-radius: 3px;
  border: none;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}

.MV_learnmore_inner_body a:hover {
  animation: rotate624 0.8s ease-in-out both;
}

.MV_learnmore_inner_body a:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.8s ease;
  width: 50px;
  z-index: -10;
}

.MV_learnmore_inner_body a:hover:after {
  left: 120%;
  transition: all 0.8s ease;
}

.inner_inner_showa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
    margin-top: 10px;
}
.MV_splider_content p a {
  color: #30b398 !important;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.inner_inner_showa img {
  width: 100%;
  height: 144px;
  object-fit: cover;
  border-radius: 4px;
  transition: all 0.3s ease;
  filter: brightness(0.7);
}
.image_wraper_shows,
.MV_shows_wrapper {
  width: 31%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.MV_shows_wrapper {
  width: 100%;
}
.image_wraper_shows::before,
.MV_shows_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: skewX(-25deg);
  transition: 0.75s;
  z-index: 1;
}
.image_wraper_shows:hover::before,
.MV_shows_wrapper:hover::before {
  left: 150%;
}
.image_wraper_shows::after,
.MV_shows_wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}
.MV_shows_wrapper img {
  width: 100% !important;
  filter: brightness(0.7) !important;
}
.inner_image_content {
  position: absolute;
  bottom: 3px;
  left: 30px;
  color: white;
  z-index: 1;
}
.inner_image_content h5 {
  color: white;
  font-family: "Asap Condensed";
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 500;
}
.inner_image_content p {
  font-family: "Poppins";
  font-size: 13px;
  color: white;
  opacity: 0.8;
  font-weight: 300;
}
.inner_image_content2 {
  position: absolute;
  bottom: -7px;
  left: 12px;
  color: white;
  z-index: 1;
}
.inner_image_content2 h5 {
  font-family: "Asap Condensed";
  font-size: 14px;
  letter-spacing: 0px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 16px;
}
.inner_image_content2 p {
  margin-top: -3px;
  font-family: "Poppins";
  font-size: 11px;
  font-weight: 300;
  opacity: 0.8;
}

/* accordians  */

.MV_inner_question_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MV_inner_question_text span {
  font-family: "Asap Condensed";
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 16px;
  color: white;
}
.MV_accordians_Secc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px !important;
  margin: auto;
  margin-top: 17px;
}

.MV_accordian_item {
  /* border-top: 1px solid  #71748866 !important; */
  background: #2b2b2b !important;
  border: none;
}
.MV_Accordians_button button {
  background-color: #2b2b2b !important;
  color: white !important;
  font-family: "Asap Condensed";
  font-size: 17px;
  letter-spacing: 0px;
  word-spacing: 3px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.MV_body_Accor {
  color: white;
  font-family: "Poppins";
  font-size: 13px;
  padding-right: 8rem;
  font-weight: 300;
  opacity: 0.9;
  padding-top: 0px;
}
.accordion-button {
  padding-top: 0;
  padding-bottom: 0;
}
a {
  color: white !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M5 11V13H19V11H5Z'%3E%3C/path%3E%3C/svg%3E") !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z'%3E%3C/path%3E%3C/svg%3E") !important;
}
.MV_accordian_item {
  margin-top: 24px;
}
.MV_accordian_item {
  border-radius: 5px;
  overflow: hidden;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.MV_inner_question_text {
  margin-top: 50px;
}
/* end accordians */

.MV_jsdchnwkllds {
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  padding-top: 36px;
  padding-bottom: 36px;
  border-radius: 9px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  z-index: 9;
}
.box_MV_announce {
  padding: 4px;
}
.inner_MV_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box_MV_announce {
  width: 100%;
}

.MV_announce_section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.box_MV_announce {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.box_MV_announce span {
  font-family: "Asap Condensed";
  font-weight: 400;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 23px;
}

.box_MV_announce svg {
  width: 40px !important;
}
.MV_class_ineer img {
  width: 88%;
}
.MV_class_ineer2 h2 {
  color: white;
  font-family: "Asap Condensed";
  font-size: 37px;
  font-weight: 400;
}
.MV_class_ineer2 p {
  color: #cccdd2;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 11px;
  margin-top: 13px;
}
.MV_download_iconsh {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.MV_download_iconsh img {
  width: 103px;
}
.MV_download_iconsh {
  margin-top: 24px;
  margin-bottom: 32px;
}
.MV_download_button {
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  padding: 13px 28px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 12px;
  position: relative;
  line-height: 25px;
}

.for_over_flow {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  padding: 10px 0px;
  border-radius: 6px;
}

.shiny_effect {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  opacity: 1;
  transition: opacity 0.3s;
  animation: shine 1.5s infinite;
}

.for_over_flow:hover .shiny_effect {
  opacity: 1;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

.section_translater {
  background: #2b2b2b;
}
.section_translater {
  background: #2b2b2b;
  padding-top: 13rem;
  margin-top: -152px;
  padding-bottom: 88px;
}

.MV_class_ineer2 {
  translate: 0 24px;
}

.section_not {
  position: relative;
  background-image: url("../images/if-not.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 80px;
}

.section_not::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e03039 0%, rgba(208, 0, 10, 0) 100%);
}

.MV_class_ineer276 {
  position: relative;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.MV_class_ineer276 h6 {
  font-weight: 400;
  font-family: "Poppins";
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.MV_class_ineer276 h2 {
  font-family: "Poppins";
  font-size: 41px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.MV_class_ineer276 a {
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  margin-top: 19px;
  text-decoration: none;
  padding: 0px 22px;
  height: 43px;
  text-align: center;
  line-height: 3;
  border-radius: 3px;
  border: none;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}

.MV_class_ineer276 a:hover {
  animation: rotate624 0.8s ease-in-out both;
}

.MV_class_ineer276 a:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.8s ease;
  width: 50px;
  z-index: -10;
}

.MV_class_ineer276 a:hover:after {
  left: 120%;
  transition: all 0.8s ease;
}

.MV_class_ineer276_mob {
  position: relative;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin-top: 31px;
}
.MV_class_ineer276_mob h6 {
  font-weight: 400;
  font-family: "Poppins";
  font-size: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.MV_class_ineer276_mob h2 {
  font-family: "Poppins";
  font-size: 29px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.MV_class_ineer276_mob a {
  background: linear-gradient(263.38deg, #d0000a 9.54%, #e03039 32.8%);
  margin-top: 19px;
  text-decoration: none;
  padding: 0px 22px;
  height: 43px;
  text-align: center;
  line-height: 3;
  border-radius: 3px;
  border: none;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}

.MV_class_ineer276_mob a:hover {
  animation: rotate624 0.8s ease-in-out both;
}

.MV_class_ineer276_mob a:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.8s ease;
  width: 50px;
  z-index: -10;
}

.MV_class_ineer276_mob a:hover:after {
  left: 120%;
  transition: all 0.8s ease;
}

.section_not_mob {
  position: relative;
  background-image: url("../images/mob.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 80px;
}

.section_not_mob::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e03039 0%, rgba(208, 0, 10, 0) 100%);
}
.section_not_mob::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 84%;
  backdrop-filter: blur(69px);
  border: 1px solid #ffffff5c;
  background: #ffffff2b;
  translate: -50% -50%;
  border-radius: 10px;
}
.MV_class_ineer276_mob3 {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

.MV_class_ineer276_subscribe {
  background: linear-gradient(263.38deg, #d0000a 9.54%, #db101a 32.8%);
  box-shadow: 4px 2px 7px 0px #00000066;
  padding-top: 15px;
  padding-bottom: 33px;
  border-radius: 10px;
  position: relative;
}

.MV_class_ineer276_subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/acjkms.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
}
.MV_class_ineer276_subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.inner_content_inner1 {
  position: relative;
  z-index: 3;
  color: white;
  width: 49%;
  translate: 0 12px;
}

.inner_content_inner1 h2 {
  font-family: "Asap Condensed" !important;
  font-size: 30px;
  font-weight: 200;
}

.inner_content_inner1 p {
  font-family: poppins;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
}

.inner_content_inner2 {
  position: relative;
  z-index: 3;
}
.inner_form_wrape {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 37px;
  overflow: hidden;
  width: 467px;
}
.inner_form_wrape input {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  padding-left: 32px !important;
  font-size: 13px !important;
  font-family: poppins !important;
  color: white !important;
}
.inner_form_wrape input::placeholder {
  color: white;
  font-size: 12px;
  opacity: 0.7;
  font-family: poppins;
}
.inner_form_wrape button {
  border-radius: 32px;
  border: none;
  outline: none;
  height: 48px;
  padding: 0 2.4rem;
  font-family: poppins;
  font-size: 12px;
  color: black;
}

.MV_subscribe_button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s ease;
  z-index: 0;
}

.MV_subscribe_button:hover {
  animation: rotate624 0.8s ease-in-out both;
}

.MV_subscribe_button:after {
  background: #d30913;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.8s ease;
  width: 50px;
  z-index: -10;
}

.MV_subscribe_button:hover:after {
  left: 120%;
  transition: all 0.8s ease;
}
.connect_with_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 47px;
}
.connect_with_us h2 {
  color: white;
  font-family: "Asap Condensed";
  padding-top: 50px;
  letter-spacing: 4px;
  font-size: 38px;
}
.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.social_icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.social_icons a:hover {
  transform: translateY(-5px);
}
.social_icons a:hover i,
.social_icons a:hover span {
  filter: brightness(120%);
}
.social_icons a i {
  font-size: 20px;
  transition: all 0.3s ease;
}
.social_icons a span {
  font-family: "Poppins";
  font-size: 14px;
  transition: all 0.3s ease;
}
.social_icons a:nth-child(1) i,
.social_icons a:nth-child(1) span {
  color: #576eee;
}
.social_icons a:nth-child(2) i,
.social_icons a:nth-child(2) span {
  color: #1dbbff;
}
.social_icons a:nth-child(3) i,
.social_icons a:nth-child(3) span {
  color: #c31010;
}
.social_icons a:nth-child(4) i,
.social_icons a:nth-child(4) span {
  color: #f8079a;
}

.head_heading {
  color: #33c3a5;
  font-family: "Asap Condensed";
  font-weight: 400;
  font-size: 22px !important;
}
.wrape_footer_links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrape_footer_links ul li a img {
  width: 128px;
}

.wrape_footer_links ul li:nth-child(2) {
  margin-top: 14px;
}
.head_heading {
  color: #33c3a5;
  font-family: "Asap Condensed";
  font-weight: 400;
  font-size: 28px;
  padding-bottom: 13px;
}
.wrape_footer_links2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrape_footer_links2 ul li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  display: inline-block;
}

.wrape_footer_links2 ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: #33c3a5;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.wrape_footer_links2 ul li a:hover {
  color: #33c3a5;
  transform: translateX(10px);
  text-shadow: 0 0 15px rgba(51, 195, 165, 0.5);
}

.wrape_footer_links2 ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.wrape_footer_links2 ul li:nth-child(2),
.wrape_footer_links2 ul li:nth-child(3) {
  padding: 10px 0;
}

.wrape_footer_links2 ul li:nth-child(1) {
  padding-bottom: 10px;
}
.MV_render {
  border-top: 1px solid #444444;
  padding-bottom: 1px;
  padding-top: 30px;
}
.connect_with_us {
  padding-bottom: 100px;
}

.bottom_footer_Reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 18px 0;
  /* padding-bottom: 4.6rem !important; */
}

.bottom_footer_Reserve img {
  width: 167px;
  margin-top: 14px;
}
.bottom_footer_Reserve {
  gap: 16px;
}
.bottom_footer_Reserve p {
  color: #666666 !important;
  font-size: 18px;
  font-family: "Asap Condensed";
}

#loading-area {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999999;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  overflow: hidden;
}

#loading-area.loading-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-area.loading-page-1:before,
#loading-area.loading-page-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  background: #1e1e1e;
  transition: all 1.5s;
  transform-origin: left top;
  z-index: -1;
}

#loading-area.loading-page-1:before {
  top: auto;
  bottom: 0;
}

#loading-area.loading-page-1.active:before,
#loading-area.loading-page-1.active:after {
  height: 0px;
}

#loading-area.loading-page-1 .text {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 50px;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 1s;
  text-transform: uppercase;
}

.MV_shadow_left_right {
  position: relative;
}
.MV_shadow_left_right::before,
.MV_shadow_left_right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%; /* Increased width from 20px to 100px */
  background: linear-gradient(to right, #1e1e1eb3 40%, transparent);
  z-index: 9;
}
.splide__arrow.splide__arrow--prev svg path,
.splide__arrow.splide__arrow--next svg path {
  fill: #ffffff;
}
.splide__arrow.splide__arrow--prev:hover,
.splide__arrow.splide__arrow--next:hover {
  background-color: #e50914;
}

.MV_shadow_left_right::before {
  left: 0px;
}

.MV_shadow_left_right::after {
  right: 0px;
  background: linear-gradient(to left, #1e1e1e 40%, transparent);
}

@media only screen and (max-width: 767px) {
  .splide__arrows.splide__arrows--ltr {
    right: 50px !important;
  }
  #loading-area.loading-page-1 .text {
    font-size: 24px;
  }
}

#loading-area.loading-page-1.show .text {
  opacity: 1;
  transform: translateY(0);
}

#loading-area.loading-page-1.active .text {
  opacity: 0;
  transform: translateY(30px);
}
.MV_text_editer {
  color: #e50914 !important;
  font-family: "Asap Condensed";
}
.MV_text_editer span {
  color: white !important;
  font-family: "Asap Condensed" !important;
}
.MV_inner_tv_shows23 {
  border: 2px solid #E50914;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.MV_inner_tv_shows23 img{
  padding: 4px;
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.MV_inner_tv_shows23::before {
  content: '';
  position: absolute;
  inset: -5px;
  background: conic-gradient(from 0deg, transparent 60%, #E50914);
  animation: rotate 2s linear infinite;
  opacity: 0;
  transition: opacity 0.3s;
}

.MV_inner_tv_shows23:hover::before {
  opacity: 1;
}

.MV_inner_tv_shows23::after {
  content: '';
  position: absolute;
  inset: 2px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MV_tv_channaeksss {
  align-items: center;
  flex-direction: column;
  gap: 17px;
}

.MV_tv_channaeksss span {
  font-family: "Asap Condensed";
  font-size: 21px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  position: relative;
}

.MV_tv_channaeksss:hover span {
  color: #E50914;
  text-shadow: 0 0 10px rgba(229, 9, 20, 0.5);
  transform: translateY(-2px);
}

.MV_inner_tv_shows23 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 2;
  transition: all 0.4s ease;
}

.MV_inner_tv_shows23:hover img {
  transform: scale(1.15);
  filter: brightness(1.1);
}

.MV_trending_img33333 {
  position: relative;
  transition: all 0.3s ease;
}
.MV_trending_img33333:hover{
  transition: all 0.3s ease;
  filter: brightness(0.7);
}

.MV_bottom_nav1 {
  background-color: #1e1e1e;
  padding: 10px 6px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
.innerMV_icons_wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7px;
}
.MV_icons_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  text-decoration: none;
}
.MV_icons_boxes span {
  color: white;
  font-family: "Poppins";
  font-size: 10px;
  font-weight: 200;
}
img{
  object-fit: cover;
}
.MD_paddinf{
  padding-left: 22px;
  padding-right: 22px;
}

#MX_for_watcher{
  display: inline-block !important;
}
.MV_more_info{
  border: none;
    font-family: 'Poppins';
}

.spinner {
  text-align: center;
}
.MX_loader_lazty {
  position: absolute;
  left: 50%;
  top: 70%;
  translate: -50% -50%;
}

.spinner>div {
  width: 10px;
  height: 10px;
  background-color: #e50914;
  border: 1px solid white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

















@media (min-width: 669px) {
  section.section_subscribe {
    margin-top: -100px;
  }
}
@media (min-width: 669px) {
  .section_not {
    padding-bottom: 224px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .MV_jsdchnwkllds {
    border-radius: 0 !important;
  }
  .MV_class_ineer {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .MV_download_iconsh img {
    width: 108px;
  }
  .section_not {
    padding-bottom: 154px;
  }
  .inner_content_inner1 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 22px;
    width: 89%;
  }
  .inner_content_inner2 {
    width: 89%;
    display: flex;
    justify-content: end;
  }
  .connect_with_us h2 {
    color: white;
    font-family: "Asap Condensed";
    padding-top: 45px;
    letter-spacing: 2px;
    font-size: 39px;
    font-weight: 400;
  }
  .MV_render {
    padding-top: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .MV_spacer {
    height: 0rem;
  }
  .MV_cols_Ce {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .MV_spacer {
    height: 4rem;
  }
  .MV_jsdchnwkllds {
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .MV_mobie_res,
  .MV_responsive1 {
    padding: 0 !important;
    margin: 0 !important;
  }
  .MV_class_ineer276_subscribe {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
  }
  .inner_content_inner1 {
    position: relative;
    z-index: 3;
    color: white;
    width: 100%;
    translate: 0 12px;
    text-align: center;
  }
  .inner_content_inner1 h2 {
    font-family: "Asap Condensed" !important;
    font-size: 39px;
    font-weight: lighter;
  }
  .inner_content_inner1 p {
    font-family: poppins;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  .inner_form_wrape {
    width: 381px;
    margin-top: 9px;
  }
  .connect_with_us h2 {
    color: white;
    font-family: "Asap Condensed";
    padding-top: 35px;
    letter-spacing: 4px;
    font-size: 32px;
    font-weight: 400;
  }
  .social_icons {
    flex-wrap: wrap;
    width: 70%;
  }
  .MV_class_ineer276_mob h2{
    font-size: 29px;
    letter-spacing: 2px;
  }
  .MV_class_ineer276_mob h6 {
    font-size: 16px;
    margin-bottom: 8px;
}
}
@media (max-width: 767px) {
  .section_translater {
    padding-top: 10rem;
  }
  .MV_download_iconsh img {
    width: 122px;
  }
  .inner_MV_Container {
    flex-wrap: nowrap !important;
    overflow-x: auto;
    padding: 10px 0;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    -webkit-scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media (max-width: 767px) {
  .box_MV_announce:first-child {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .box_MV_announce {
    flex: 0 0 calc(100% - 40px);
    min-width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .box_MV_announce svg,
  .box_MV_announce span {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .MV_splider_img img, .MV_splider_img iframe, .MV_splider_img video {
    border-radius: 5px;
    height: 100px !important;
}
  .box_MV_announce svg {
    width: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .accordion-header {
    padding-top: 23px !important;
    padding-bottom: 10px !important;
}
  .MV_class_ineer img {
    width: 100%;
}
  .MV_shadow_left_right::before, .MV_shadow_left_right::after{
    display: none !important;
  }
  .splide__arrow.splide__arrow--next{
    width: 22px;
    translate: 13px 0%;

  }
  .splide__arrow.splide__arrow--prev{
    translate: -13px 0%;
    width: 22px;

  }
  .splide__arrow svg {
    fill: #000;
    height: 13px;
    width: 15px;
}
  .accordion-item.MV_accordian_item {
    padding-bottom: 6px;
}
  .MV_body_Accor {
    padding-right: 1rem !important;
  }
  .MV_accordians_Secc {
    width: 360px !important;
  }
  .inner_inner_showa {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
    scroll-behavior: smooth !important;
    -webkit-overflow-scrolling: touch !important;
    padding: 10px 0 !important;
    gap: 15px !important;
    scrollbar-width: thin !important;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1) !important;
    justify-content: flex-start !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
  }

  .inner_inner_showa::-webkit-scrollbar {
    height: 6px !important;
  }

  .inner_inner_showa::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 3px !important;
  }

  .inner_inner_showa::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 3px !important;
    cursor: pointer !important;
  }

  .inner_inner_showa::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4) !important;
  }

  .image_wraper_shows {
    flex: 0 0 auto !important;
    min-width: 180px !important;
    max-width: 194px !important;
    width: auto !important;
    transition: transform 0.2s ease !important;
  }

  .image_wraper_shows:hover {
    transform: translateY(-2px) !important;
  }

  .image_wraper_shows:last-child {
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 991px) {
  .accordion-header {
    font-weight: 400;
    padding-top: 6px;
  }

  .MV_grid_Solution img {
    width: 48% !important;
  }
}
@media (max-width: 668px) {
  .MV_entertainment_Section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1023px) and (max-width: 1040px) {
  .MV_main_Slider_Wrapper .swiper-slide img,
  .MV_main_Slider_Wrapper .swiper-slide iframe,
  .MV_main_Slider_Wrapper .swiper-slide video {
    height: 31vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .MV_accordians_Secc {
    width: 690px !important;
  }
  section.elementor-section.elementor-top-section.elementor-element.elementor-element-cec7b30.elementor-section-full_width.elementor-section-content-middle.elementor-section-height-default.elementor-section-height-default {
    margin-top: 21px;
  }
  .MX_cuton_col_ms {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .MV_main_Slider_Wrapper .swiper-slide img,
  .MV_main_Slider_Wrapper .swiper-slide iframe,
  .MV_main_Slider_Wrapper .swiper-slide video {
    height: 31vh;
    width: 111%;
  }
  .MV_inner_main_slider_content h2 {
    font-size: 35px;
  }
  .MV_inner_main_slider_content p {
    font-size: 12px;
    padding-bottom: 0px !important;
  }
  .MV_iq-button {
    margin-top: 20px;
  }
  .MV_play_button {
    height: 40px;
    padding: 11px 14px;
    font-size: 14px;
  }
  .MV_more_info {
    height: 40px;
    padding: 11px 14px;
    font-size: 14px;
  }
  .MV_more_info i,
  .MV_play_button i {
    font-size: 17px;
  }
  .MV_more_info svg {
    width: 19px;
    margin-left: 2px;
  }
  .MV_breadcrum_main_slider span {
    padding: 4px;
  }
}

@media (max-width: 767px) {
  .MV_entertainment_content h6 {
    font-size: 13px;
    font-weight: 300;
  }
  .MV_entertainment_content h2 {
    font-size: 35.9px;
    font-weight: 400;
  }
  .MV_learnmore_inner_body p {
    font-size: 16px;
  }
  .MV_learnmore_inner_body h4 {
    font-size: 32px !important;
    letter-spacing: 5px;
  }
  .MV_accord_pig_inner span {
    font-size: 13px !important;
    margin: 3px 0 !important;
  }
  .MV_content_work_bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .MV_main_Slider_Wrapper .swiper-slide img,
  .MV_main_Slider_Wrapper .swiper-slide iframe,
  .MV_main_Slider_Wrapper .swiper-slide video {
    height: 26vh;
    width: 132%;
  }
  .MV_main_slider_content {
    width: 67%;
  }
  .MV_inner_main_slider_content p {
    font-size: 9px;
    padding-bottom: 0px !important;
    margin-bottom: 5px;
  }
  .MV_iq-button {
    margin-top: 8px;
  }
  .MV_inner_main_slider_content h2 {
    font-size: 20px;
    padding: 0px 0px;
    margin-bottom: 0;
  }
  .MV_play_button {
    height: 27px;
    padding: 0px 15px;
    font-size: 9px;
  }
  .MV_more_info {
    height: 27px;
    padding: 0px 15px;
    font-size: 9px;
  }
  .MV_breadcrum_main_slider span {
    font-size: 9px;
    padding: 1px;
  }
  .MV_more_info i,
  .MV_play_button i {
    margin-left: 5px;
    translate: 0 -1px;
    font-size: 13px;
  }
  #MV_hover2 svg {
    width: 15px;
    translate: 0 -1px;
    margin-left: 2px;
  }
  .MV_main_slider_content {
    left: 14px;
  }
  .MV_main_slider_content {
    margin-left: 0;
  }
  .MV_volium_button {
    right: 17px;
    bottom: 10px;
  }
}

@media (max-width: 400px) {
  .MV_splider_content h5 {
    font-size: 14px;
  }
  .inner_form_wrape {
    width: 312px;
  }
  .MV_main_Slider_Wrapper .swiper-slide img,
  .MV_main_Slider_Wrapper .swiper-slide iframe,
  .MV_main_Slider_Wrapper .swiper-slide video {
    width: 156%;
  }
}

@media (min-width: 669px) {
}
@media (min-width: 1200px) {
}

@media (max-width: 767px) {
}
